
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body{
  background-color: #ecf0f1!important;
  width: 100%;
}

.expense-tracker-application{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}


.header__header{
    margin-top: 16px;
    color: rgb(63, 81, 181);
    font-weight: 400;
    font-size: 35px;
}

.total_Balance{
  margin-top: 16px;
}

.total_Balance_Paper1{
  background-color:  rgb(63, 81, 181)!important;
  color: #fff!important;
  width: 100%;
  height: 105px;
  text-align: left;
  padding: 20px 15px;
  margin-bottom: 25px;
}

.Paper1_Balanceword{
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.Paper1_Balanceamount{
  font-size: 33px;
  padding-top: 5px;
  font-weight: 400;
  text-transform: uppercase;
}

.green{
  color: green
}
.green:hover, .red:hover{
  color: #fff;
}
.red{
  color: red;
}


.Paper1_Balanceamount span{
  padding-right: 6px;
}

.total_Balance_Paper2{
  display: inline-block;
  width: 42%;
  height: 105px;
  text-align: left;
  padding: 20px 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.total_Balance_Paper2:hover{
  background-color:  darkgreen!important;
  color: #fff!important;
}

.total_Balance_Paper3{
  display: inline-block;
  width: 42%;
  height: 105px;
  text-align: left;
  padding: 20px 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.total_Balance_Paper3:hover{
  background-color:  rgb(181, 63, 63)!important;
  color: #fff!important;
}



.transaction{
  margin-Top: 16px;
  text-transform: uppercase;
  font-size: 20px;
}

.individualTransaction{
  display: flex;
  justify-content: space-between;
  padding: 0 0px;
  height: 65px;
  align-items: center;
  margin-top: 5px;
  background-color: #fff;
}

.transaction__info{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.transaction__detail{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.amount{
  font-size: 18px;
  
}
.name{
  font-size: 15px;
  OPACITY: 0.6;
  text-transform: lowercase;
}

.transaction__icon__green{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(76, 175, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.transaction__icon__red{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:rgb(244, 67, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.transaction__remove{
  padding: 0px 20px;
}


.input-box{
  margin-bottom: 200px;
}